
.material-icons {
  cursor: move;
  cursor: -webkit-grabbing;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.contraer {
  background-color:#f8f9fc;
  color: #36b9cc;
   font-weight: bold;
  cursor: pointer;
  padding: 8px;/*18px original*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #e3e6f0;
}

.contraer:active, .contraer:hover {
  background-color: #f8f9fc;
}

.contraer:after {
  content: '\002B';
  color: #36b9cc;

  float: right;
  margin-left: 5px;
}

.contraer.active:after {
  content: "\2212";
}
.contraerpreview {
  background-color:#f8f9fc;
  color: #36b9cc;
   font-weight: bold;
  cursor: pointer;
  padding: 8px;/*18px*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #e3e6f0;
}

.contraerpreview:active, .contraer:hover {
  background-color: #f8f9fc;
}

.contraerpreview:after {
  content: '\002B';
  color: #36b9cc;

  float: right;
  margin-left: 5px;
}

.contraerpreview.active:after {
  content: "\2212";
}
.contentcnc {
  padding: 0 px;
  max-height: 0;
  height: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 1px solid #e3e6f0;
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
}
.tablecnc{
  margin-bottom:0 px;
  margin-top: 0 px;
  border-spacing: 10 !important;
  border-collapse: collapse !important;

}
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}

	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}

	.modal.left.fade.in .modal-dialog{
		left: 0;
	}

/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #78909C;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
