
.material-icons {
  cursor: move;
  cursor: -webkit-grabbing;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.contraer {
  background-color:#f8f9fc;
  color: #36b9cc;
   font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #e3e6f0;
}

.contraer:active, .contraer:hover {
  background-color: #f8f9fc;
}

.contraer:after {
  content: '\002B';
  color: #36b9cc;

  float: right;
  margin-left: 5px;
}

.contraer.active:after {
  content: "\2212";
}
.contraerpreview {
  background-color:#f8f9fc;
  color: #36b9cc;
   font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #e3e6f0;
}

.contraerpreview:active, .contraer:hover {
  background-color: #f8f9fc;
}

.contraerpreview:after {
  content: '\002B';
  color: #36b9cc;

  float: right;
  margin-left: 5px;
}

.contraerpreview.active:after {
  content: "\2212";
}
.contentcnc {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 1px solid #e3e6f0;
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
}
